@model Calendar

@{
    ViewData["Title"] = "Calendrier";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                @for (int x = 0; x < Model.MaxX; x++)
                {
                <td>
                    @Model[x, 0].Value
                  </td>
                }
            </tr>
            <tr>
                @for (int x = 0; x < Model.MaxX; x++)
                {
                <td>
                    @Model[x, 1].Value
                </td>
                }
            </tr>
        </thead>
        <tbody>
            @for (int y = 2; y < Model.MaxY; y++)
            {
            <tr>
                @for (int x = 0; x < Model.MaxX; x++)
                {
                <td>
                    @if (Model[x, y].CanAccept)
                    {
                        @Html.ActionLink("[Accepter]", "Accept", new { id = Model[x, y].MeetingId, attendeeId = Model[x, y].AttendeeId })
                    }
                    else if (Model[x, y].CanRefuse)
                    {
                    <span>@Model[x, y].Value</span> <span>@Html.ActionLink("[X]", "Refuse", new { id = Model[x, y].MeetingId, attendeeId = Model[x, y].AttendeeId })</span>
                    }
                    else
                    {
                        <span>@Model[x, y].Value</span>
                    }
                </td>
                }
            </tr>
            }
        </tbody>
    </table>

</div>