@model Frontend.MVC.Models.Member

@{
    ViewData["Title"] = "Rencontre";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
            @Html.DisplayFor(model => model.Notify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email2)
            @Html.DisplayFor(model => model.Notify2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email3)
            @Html.DisplayFor(model => model.Notify3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
